{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div
                class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Welcome to<br>The Bear</h2>
                <p data-aos="fade-up" data-aos-delay="100">The Original Beef of Chicagoland; an iconic staple of the
                    local community has had a facelift...
                    <br>
                    <br>...and a gut!</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    {% if user.is_authenticated %}
                    <a class="btn-book-a-table" href="#book-a-table">Book a Table</a>
                    {% else %}
                    <a class="btn-book-a-table" href="{% url 'account_login' %}">Book a Table</a>
                    {% endif %}
                    <a href="https://youtu.be/_KLsZVMbu8U?si=fMMw56Bt94xGvoUY"
                        class="glightbox btn-watch-video d-flex align-items-center"><i
                            class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="{% static 'img/hero-img.png' %}" class="img-fluid" alt="" data-aos="zoom-out"
                    data-aos-delay="300">
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>About Us</h2>
            <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-7 position-relative about-img" data-aos="fade-up" data-aos-delay="150">
                <div class="call-us position-absolute">
                    <h4>Book a Table</h4>
                    <p>+1 5589 55488 55</p>
                </div>
            </div>
            <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        The Original Beef of Chicagoland, simply known as The Beef, was a family business run by Michael "Mikey" Berzatto 
                        which has been a staple in the local community for generations. Following the tragic passing of Mikey, 
                        The Beef was left to his younger brother Carmy who has rejuvinated the aging Beef into a destination spot.
                    </p>
                    <ul>
                        <li><i class="bi bi-check2-all"></i> The old Deli has been revamped into a fine dining restaurant.
                        </li>
                        <li><i class="bi bi-check2-all"></i> With a foundation in French Cuisine the team have created a brand new menu 
                            inspired by the restaurant's Italian-American heritage.
                        </li>
                        <li><i class="bi bi-check2-all"></i> Open for dinner service 6 days a week.</li>
                    </ul>
                    <p>
                        Owned and operated by an award wining team of chefs The Bear, is the new face of an iconic restaurant spot
                        that is sure to delight everyone with its exceptional menu and delightful ambience.
                    </p>

                    <div class="position-relative mt-4">
                        <img src="{% static 'img/about-2.jpg' %}" class="img-fluid" alt="chef carmy plating up a dish">
                        <a href="https://youtu.be/_KLsZVMbu8U?si=fMMw56Bt94xGvoUY" class="glightbox play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Menu</h2>
            <p>Check Our <span>Exquisite Menu</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

            <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-all">
                    <h4>All</h4>
                </a>
            </li><!-- End tab nav item -->

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-appetizer">
                    <h4>Appetizer</h4>
                </a><!-- End tab nav item -->

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-entree">
                    <h4>Entrée</h4>
                </a>
            </li><!-- End tab nav item -->

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dessert">
                    <h4>Desserts</h4>
                </a>
            </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

            <div class="tab-pane fade active show" id="menu-all">

                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>All</h3>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/focaccia.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/focaccia.png' %}" class="menu-img img-fluid" alt="focaccia menu item"></a>
                        <h4>Focaccia</h4>
                        <p class="ingredients">
                            Brushed with Rosemary, Olive Oil, and Sea Salt
                        </p>
                        <p class="price">
                            $5.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/bucatini.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/bucatini.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>Bucatini</h4>
                        <p class="ingredients">
                            White Wine, Shiitake Mushrooms, Spinach
                        </p>
                        <p class="price">
                            $8.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/omelette.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/omelette.png' %}" class="menu-img img-fluid" alt="focaccia menu item"></a>
                        <h4>Boursin Omelette</h4>
                        <p class="ingredients">
                            Boursin, Chives, Sour Cream & Onion Potato Chips
                        </p>
                        <p class="price">
                            $8.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/seven-fishes.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/seven-fishes.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>Seven Fishes</h4>
                        <p class="ingredients">
                            Clams, Mussels, Halibut, Shrimp, Anchovy, Calamari and Scallops
                        </p>
                        <p class="price">
                            $14.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/the-michael.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/the-michael.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>"The Michael" Cannoli</h4>
                        <p class="ingredients">
                            In Memoriam: Parmesan Shell, Mortadella Cream, Pistachio, Olive Tapenade
                        </p>
                        <p class="price">
                            $16.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/t-bone.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/t-bone.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>T-Bone</h4>
                        <p class="ingredients">
                            Juicy beef with the bone cut from the loin.
                        </p>
                        <p class="price">
                            $18.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/bear-honey-bun.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/bear-honey-bun.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>"The Bear" Honey Bun</h4>
                        <p class="ingredients">
                            Coconut, Honey, Cinnamon 
                        </p>
                        <p class="price">
                            $9.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/copenhagen-sundae.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/copenhagen-sundae.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>Copenhagen Sundae</h4>
                        <p class="ingredients">
                            Danish Ice Cream, Cardamon, Orange, Vanilla
                        </p>
                        <p class="price">
                            $12.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/sydney-doughnut.jpg' %}" class="glightbox"><img
                                src="{% static 'img/menu/sydney-doughnut.jpg' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>Sydney's Doughnut</h4>
                        <p class="ingredients">
                            Freshly Baked, Cherry, Raspberry
                        </p>
                        <p class="price">
                            $9.95
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End All Menu Content -->

            <div class="tab-pane fade" id="menu-appetizer">

                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Appetizer</h3>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/focaccia.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/focaccia.png' %}" class="menu-img img-fluid" alt="focaccia menu item"></a>
                        <h4>Focaccia</h4>
                        <p class="ingredients">
                            Brushed with Rosemary, Olive Oil, and Sea Salt
                        </p>
                        <p class="price">
                            $5.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/bucatini.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/bucatini.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>Bucatini</h4>
                        <p class="ingredients">
                            White Wine, Shiitake Mushrooms, Spinach
                        </p>
                        <p class="price">
                            $8.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/omelette.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/omelette.png' %}" class="menu-img img-fluid" alt="focaccia menu item"></a>
                        <h4>Boursin Omelette</h4>
                        <p class="ingredients">
                            Boursin, Chives, Sour Cream & Onion Potato Chips
                        </p>
                        <p class="price">
                            $8.95
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End Appetizer Menu Content -->

            <div class="tab-pane fade" id="menu-entree">

                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Entrée</h3>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/seven-fishes.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/seven-fishes.png'%}" class="menu-img img-fluid" alt=""></a>
                        <h4>Seven Fishes</h4>
                        <p class="ingredients">
                            Clams, Mussels, Halibut, Shrimp, Anchovy, Calamari and Scallops
                        </p>
                        <p class="price">
                            $14.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/the-michael.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/the-michael.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>"The Michael" Cannoli</h4>
                        <p class="ingredients">
                            In Memoriam: Parmesan Shell, Mortadella Cream, Pistachio, Olive Tapenade
                        </p>
                        <p class="price">
                            $16.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/t-bone.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/t-bone.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>T-Bone</h4>
                        <p class="ingredients">
                            Juicy beef with the bone cut from the loin.
                        </p>
                        <p class="price">
                            $18.95
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End Entree Menu Content -->

            <div class="tab-pane fade" id="menu-dessert">

                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Dessert</h3>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/bear-honey-bun.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/bear-honey-bun.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>"The Bear" Honey Bun</h4>
                        <p class="ingredients">
                            Coconut, Honey, Cinnamon 
                        </p>
                        <p class="price">
                            $9.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/copenhagen-sundae.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/copenhagen-sundae.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>Copenhagen Sundae</h4>
                        <p class="ingredients">
                            Danish Ice Cream, Cardamon, Orange, Vanilla
                        </p>
                        <p class="price">
                            $12.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/sydney-doughnut.jpg' %}" class="glightbox"><img
                                src="{% static 'img/menu/sydney-doughnut.jpg' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>Sydney's Doughnut</h4>
                        <p class="ingredients">
                            Freshly Baked, Cherry, Raspberry
                        </p>
                        <p class="price">
                            $9.95
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End Dessert Menu Content -->

        </div>

    </div>
</section><!-- End Menu Section -->


<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Testimonials</h2>
            <p>What Are They <span>Saying About Us</span></p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        I take pride in welcoming guests to a dining experience like no other. 
                                        Our attention to detail ensures each visit is a culinary journey you won't soon forget.
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Richard "Richie" Jerimovich</h3>
                                    <h4>Maître d'hôtel</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="img-fluid testimonial-img"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        I couldn't be more pleased with the success of our restaurant. 
                                        The delicious dishes and warm ambiance are a testament to our dedication to excellence.
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>James "Cicero" Kalinowski</h3>
                                    <h4>Chief Investor</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="img-fluid testimonial-img"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        I'm thrilled to see our guests leave with smiles on their faces night after night. 
                                        Our team's commitment to exceptional service ensures every diner feels like part of the family.
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Natalie "Sugar" Berzatto</h3>
                                    <h4>FOH Manager</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="img-fluid testimonial-img"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        I'm delighted to see our vision come to life. Our restaurant offers not just meals, 
                                        but an experience that delights the senses and leaves a lasting impression.
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Neil Fak</h3>
                                    <h4>Entrepreneur</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="img-fluid testimonial-img"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->

<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Chefs</h2>
            <p>Our <span>Proffesional</span> Chefs</p>
        </div>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="{% static 'img/chefs/chefs-1.jpg' %}" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://twitter.com/" target="_blank" class="twitter"><i
                                    class="bi bi-twitter"></i></a>
                            <a href="https://facebook.com/" target="_blank" class="facebook"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://instagram.com/" target="_blank" class="instagram"><i
                                    class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Sydney Adamu</h4>
                        <span>Head Chef</span>
                        <p>Sydney Adamu is a Culinary Institute of America-trained chef and a Chicago native. 
                            She was hired as Sous-Chef at The Beef which was her father's favorite restaurant.</p>
                    </div>
                </div>
            </div><!-- End Chefs Member -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="{% static 'img/chefs/chefs-2.jpg' %}" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://twitter.com/" target="_blank" class="twitter"><i
                                    class="bi bi-twitter"></i></a>
                            <a href="https://facebook.com/" target="_blank" class="facebook"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://instagram.com/" target="_blank" class="instagram"><i
                                    class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Carmen Berzatto</h4>
                        <span>Executive Chef</span>
                        <p>A Chicago native and award-winning chef. Carmy, as he is affectionately know, 
                            took over The Beef following the loss of his brother. In an effort to revitalize 
                            the old restaurant, he has brought his culinary skills to breathe new life 
                            into the place</p>
                    </div>
                </div>
            </div><!-- End Chefs Member -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="{% static 'img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://twitter.com/" target="_blank" class="twitter"><i
                                    class="bi bi-twitter"></i></a>
                            <a href="https://facebook.com/" target="_blank" class="facebook"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://instagram.com/" target="_blank" class="instagram"><i
                                    class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Marcus Brooks</h4>
                        <span>Patissier</span>
                        <p>After orignally being a loyal customer, Marcus is now the restaurant's pastry chef, 
                            following a trip to in Copenhagen to hone his skills, he has designed the new dessert menu.</p>
                    </div>
                </div>
            </div><!-- End Chefs Member -->

        </div>

    </div>
</section><!-- End Chefs Section -->

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Gallery</h2>
            <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-1.jpg' %}"><img src="{% static 'img/gallery/gallery-1.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-2.jpg' %}"><img src="{% static 'img/gallery/gallery-2.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-3.jpg' %}"><img src="{% static 'img/gallery/gallery-3.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-4.jpg' %}"><img src="{% static 'img/gallery/gallery-4.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-5.jpg' %}"><img src="{% static 'img/gallery/gallery-5.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-6.jpg' %}"><img src="{% static 'img/gallery/gallery-6.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-7.jpg' %}"><img src="{% static 'img/gallery/gallery-7.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-8.jpg' %}"><img src="{% static 'img/gallery/gallery-8.jpg' %}"
                            class="img-fluid" alt=""></a></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Gallery Section -->

{% endblock %}