{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div
                class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Welcome to<br>The Bear</h2>
                <p data-aos="fade-up" data-aos-delay="100">Sed autem laudantium dolores. Voluptatem itaque ea
                    consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#book-a-table" class="btn-book-a-table">Book a Table</a>
                    <a href="https://youtu.be/_KLsZVMbu8U?si=fMMw56Bt94xGvoUY"
                        class="glightbox btn-watch-video d-flex align-items-center"><i
                            class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="{% static 'img/hero-img.png' %}" class="img-fluid" alt="" data-aos="zoom-out"
                    data-aos-delay="300">
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>About Us</h2>
            <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-7 position-relative about-img" data-aos="fade-up" data-aos-delay="150">
                <div class="call-us position-absolute">
                    <h4>Book a Table</h4>
                    <p>+1 5589 55488 55</p>
                </div>
            </div>
            <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua.
                    </p>
                    <ul>
                        <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                        </li>
                        <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu
                            fugiat nulla pariatur.</li>
                    </ul>
                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident
                    </p>

                    <div class="position-relative mt-4">
                        <img src="{% static 'img/about-2.jpg' %}" class="img-fluid" alt="chef carmy plating up a dish">
                        <a href="https://youtu.be/_KLsZVMbu8U?si=fMMw56Bt94xGvoUY" class="glightbox play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Menu</h2>
            <p>Check Our <span>Exquisite Menu</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

            <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-all">
                    <h4>All</h4>
                </a>
            </li><!-- End tab nav item -->

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-appetizer">
                    <h4>Appetizer</h4>
                </a><!-- End tab nav item -->

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-entree">
                    <h4>Entrée</h4>
                </a>
            </li><!-- End tab nav item -->

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dessert">
                    <h4>Desserts</h4>
                </a>
            </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

            <div class="tab-pane fade active show" id="menu-all">

                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>All</h3>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/focaccia.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/focaccia.png' %}" class="menu-img img-fluid" alt="focaccia menu item"></a>
                        <h4>Focaccia</h4>
                        <p class="ingredients">
                            Brushed with Rosemary, Olive Oil, and Sea Salt
                        </p>
                        <p class="price">
                            $5.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/bucatini.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/bucatini.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>Bucatini</h4>
                        <p class="ingredients">
                            White Wine, Shiitake Mushrooms, Spinach
                        </p>
                        <p class="price">
                            $8.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/seven-fishes.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/seven-fishes.png'%}" class="menu-img img-fluid" alt=""></a>
                        <h4>Seven Fishes</h4>
                        <p class="ingredients">
                            Clams, Mussels, Halibut, Shrimp, Anchovy, Calamari and Scallops
                        </p>
                        <p class="price">
                            $14.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/the-michael.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/the-michael.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>"The Michael" Cannoli</h4>
                        <p class="ingredients">
                            In Memoriam: Parmesan Shell, Mortadella Cream, Pistachio, Olive Tapenade
                        </p>
                        <p class="price">
                            $18.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/bear-honey-bun.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/bear-honey-bun.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>"The Bear" Honey Bun</h4>
                        <p class="ingredients">
                            Coconut, Honey, Cinnamon 
                        </p>
                        <p class="price">
                            $9.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/copenhagen-sundae.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/copenhagen-sundae.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>Copenhagen Sundae</h4>
                        <p class="ingredients">
                            Danish Ice Cream, Cardamon, Orange, Vanilla
                        </p>
                        <p class="price">
                            $12.95
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End All Menu Content -->

            <div class="tab-pane fade" id="menu-appetizer">

                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Appetizer</h3>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/focaccia.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/focaccia.png' %}" class="menu-img img-fluid" alt="focaccia menu item"></a>
                        <h4>Focaccia</h4>
                        <p class="ingredients">
                            Brushed with Rosemary, Olive Oil, and Sea Salt
                        </p>
                        <p class="price">
                            $5.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/bucatini.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/bucatini.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>Bucatini</h4>
                        <p class="ingredients">
                            White Wine, Shiitake Mushrooms, Spinach
                        </p>
                        <p class="price">
                            $8.95
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End Appetizer Menu Content -->

            <div class="tab-pane fade" id="menu-entree">

                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Entrée</h3>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/seven-fishes.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/seven-fishes.png'%}" class="menu-img img-fluid" alt=""></a>
                        <h4>Seven Fishes</h4>
                        <p class="ingredients">
                            Clams, Mussels, Halibut, Shrimp, Anchovy, Calamari and Scallops
                        </p>
                        <p class="price">
                            $14.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/the-michael.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/the-michael.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>"The Michael" Cannoli</h4>
                        <p class="ingredients">
                            In Memoriam: Parmesan Shell, Mortadella Cream, Pistachio, Olive Tapenade
                        </p>
                        <p class="price">
                            $18.95
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End Entree Menu Content -->

            <div class="tab-pane fade" id="menu-dessert">

                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Dessert</h3>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/bear-honey-bun.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/bear-honey-bun.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>"The Bear" Honey Bun</h4>
                        <p class="ingredients">
                            Coconut, Honey, Cinnamon 
                        </p>
                        <p class="price">
                            $9.95
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="{% static 'img/menu/copenhagen-sundae.png' %}" class="glightbox"><img
                                src="{% static 'img/menu/copenhagen-sundae.png' %}" class="menu-img img-fluid" alt=""></a>
                        <h4>Copenhagen Sundae</h4>
                        <p class="ingredients">
                            Danish Ice Cream, Cardamon, Orange, Vanilla
                        </p>
                        <p class="price">
                            $12.95
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End Dessert Menu Content -->

        </div>

    </div>
</section><!-- End Menu Section -->


<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Testimonials</h2>
            <p>What Are They <span>Saying About Us</span></p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum
                                        suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et.
                                        Maecen aliquam, risus at semper.
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Richard "Richie" Jerimovich</h3>
                                    <h4>Maître d'hôtel</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="img-fluid testimonial-img"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum
                                        quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat
                                        irure amet legam anim culpa.
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>James "Cicero" Kalinowski</h3>
                                    <h4>Chief Investor</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="img-fluid testimonial-img"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem
                                        veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis
                                        sint minim.
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Natalie "Sugar" Berzatto</h3>
                                    <h4>FOH Manager</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="img-fluid testimonial-img"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="testimonial-content">
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor
                                        noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam
                                        esse veniam culpa fore nisi cillum quid.
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                    <h3>Neil Fak</h3>
                                    <h4>Entrepreneur</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="img-fluid testimonial-img"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->

<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Chefs</h2>
            <p>Our <span>Proffesional</span> Chefs</p>
        </div>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="{% static 'img/chefs/chefs-1.jpg' %}" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Sydney Adamu</h4>
                        <span>Head Chef</span>
                        <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
                            exercitationem iure minima enim corporis et voluptate.</p>
                    </div>
                </div>
            </div><!-- End Chefs Member -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="{% static 'img/chefs/chefs-2.jpg' %}" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Carmine Berzatto</h4>
                        <span>Executive Chef</span>
                        <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit
                            corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
                    </div>
                </div>
            </div><!-- End Chefs Member -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="{% static 'img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Marcus Brooks</h4>
                        <span>Patissier</span>
                        <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates
                            enim aut architecto porro aspernatur molestiae modi.</p>
                    </div>
                </div>
            </div><!-- End Chefs Member -->

        </div>

    </div>
</section><!-- End Chefs Section -->

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>gallery</h2>
            <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-1.jpg' %}"><img src="{% static 'img/gallery/gallery-1.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-2.jpg' %}"><img src="{% static 'img/gallery/gallery-2.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-3.jpg' %}"><img src="{% static 'img/gallery/gallery-3.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-4.jpg' %}"><img src="{% static 'img/gallery/gallery-4.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-5.jpg' %}"><img src="{% static 'img/gallery/gallery-5.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-6.jpg' %}"><img src="{% static 'img/gallery/gallery-6.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-7.jpg' %}"><img src="{% static 'img/gallery/gallery-7.jpg' %}"
                            class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                        href="{% static 'img/gallery/gallery-8.jpg' %}"><img src="{% static 'img/gallery/gallery-8.jpg' %}"
                            class="img-fluid" alt=""></a></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Gallery Section -->

{% endblock %}